.btn {
    text-align: center;
    background-color: rgba(51, 51, 58, 1);
    width: 130px;
    height: 40;
    padding: 12px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    color: white;
    font-weight: 300;
}

.btn :hover {
    cursor: pinter;
    color: rgba(51, 51, 58, 1);
    background-color: white;
}


@media screen and (max-width:767px) {
    .btn {
        align-self: center;
        margin-left: 95px;
    }
}