.container{
    background-color: rgba(199, 168, 233, 0.192);
    height: 90vh;
    width: 100%;
    margin-bottom: -2.7rem ;
    display: flex;
    align-items: center;
}
.form {
    background-color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    

    margin-bottom: 7rem;
}

.form input {
    padding: 1rem;
    outline: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    width: 90%;
    margin-top: 1.4rem;

}

.btn {
    all: unset;
    display: block;
    width: 20%;
    background-color: rgba(87, 87, 177, 0.582);
    height: 4rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-top: .7rem;
}