.form {
    background-color: rgb(201, 197, 197);
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    margin-bottom: 7rem;
}

.form input {
    padding: 1rem;
    outline: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    width: 90%;
    margin-top: 1.4rem;

}

.btn {
    all: unset;
    display: block;
    width: 20%;
    background-color: blue;
    height: 4rem;
    text-align: center;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-top: .7rem;
}