.description p {
    width: 90%;
    padding-left: 20px;
    opacity: 1;
    /* color: rgba(102, 102, 102, 1); */
    font-family: "ProximaNova-Light";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    text-align: justified;
    line-height: 20px;
    margin-bottom: -1px;
}

.description h4 {
    padding-left: 20px;
    /* margin-top: 14px; */
    /* margin-bottom: 13px; */
    margin-bottom: -2px;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    font-family: "ProximaNova-Light";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 30px;
}