@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&display=swap');

.row {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.row .col1 {
    width: 361px;
    height: 240px;
    box-shadow: 0 0 0.5rem rgba(87, 71, 71, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-right: 19px;

}

i {

    position: absolute;
    font-size: 80px;
    left: 39%;
    top: 30%;
    color: white;

}

@media only screen and (max-width :700px) {
    .row {

        width: 87%;

        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row .col1 {
        width: 88%;
        height: 240px;
        box-shadow: 0 0 0.5rem rgba(87, 71, 71, 0.247);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-right: 19px;
        margin-bottom: 20px;

    }
}