.section p {
    padding-left: 20px;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    font-family: "ProximaNova-Light";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 2px;
    line-height: 30px;
    /* border-bottom: 1px solid red; */

}


.section span {
    display: inline-block;
    margin-left: 200px;
    opacity: 1;
    color: rgba(102, 102, 102, 1);
    font-family: "ProximaNova-Light";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;

    line-height: 20px;
}