@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&display=swap');

.add-bar-container {
    background-color: #33333A;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', 'sans-serif';
    width: 1440px;

}