.btn {
    text-align: center;
    background-color: rgba(51, 51, 58, 1);
    width: 130px;
    height: 40;
    padding: 12px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: none;
    color: white;
    font-weight: 300;
    position: absolute;
    border: none;
    border-radius: 0;
    outline: none;
    top: 85px;
    left: 57px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.btn:hover {
    cursor: pinter;
    color: rgba(51, 51, 58, 1);
    color: white;
}

.header {
    opacity: 1;
    color: rgba(3, 3, 3, 1);
    font-family: "ProximaNova-Light";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 14px;
    height: 1%;


}

.header button {
    background-color: transparent;
    font-size: 20px;
    border: 0;
    width: 70px;
    /* height: 35px; */
    display: inline-block;
    margin-top: -10px;
    margin-left: 45rem;
    /* text-align: center; */

}

.modalContainer {
    margin-top: -25px;
    height: 89%;
    display: flex;

}

.modalContainer .col3 {
    height: 100%;
    flex-wrap: nowrap;
    width: 60%;
}





.modalContainer h3 {
    padding: 20px;
    font-size: 18px;
    margin-top: -6px;
}